h1 {

  color: #3321ab;
  
} 
label {
  font-size: 1.2rem;
  color: #d19f0b;
}
table {
  border: 1px solid #d19f0b;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
}
div {
  text-align: center;
  margin: 20px auto;
}
input[type="text"] {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d19f0b;
}
input[type="number"] {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d19f0b;
}
